# Proyecto Final

In [34]:
import pandas as pd

# Limpieza de datos

In [53]:
df = pd.read_csv('6_BDD_ENS2018_f2_salud_ninez.csv', delimiter = ',')
df = pd.DataFrame(df)
df = df.head(110)

C:\Users\aucan\AppData\Local\Temp\ipykernel_14040\491079028.py:1: DtypeWarning: Columns (7,39,71,81,85,89,93,97,101,105,109,113,117,121,125,129,133,137,141,145,149,153,157,161,165,169,173,192,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,240) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('6_BDD_ENS2018_f2_salud_ninez.csv', delimiter = ',')

In [ ]:
# Nombre de las columnas
df.columns.values

In [54]:
#Borrar Columnas
df = df.drop(['area', 'prov', 'upm', 'id_viv', 'id_hogar', 'id_hijo','id_hijo_ord', 'id_ord','f2_s4a_402_','f2_s4a_403_', 
              'f2_s4a_404_1','f2_s4a_404_2', 'f2_s4a_405_', 'f2_s4b_409a_','f2_s4b_410_', 'f2_s4b_411_', 'f2_s4b_412a_', 
              'f2_s4b_412b_','f2_s4b_413_', 'f2_s4b_414_', 'f2_s4b_415_', 'f2_s4b_416_','f2_s4b_417_', 'f2_s4b_418_',
              'f2_s4b_422_','f2_s4c_423a_', 'f2_s4d_427_','f2_s4d_430_','f2_s4d_431_', 'f2_s4d_432_', 'f2_s4d_433a_', 
              'f2_s4d_433b_','f2_s4d_434a_', 'f2_s4d_434b_', 'f2_s4d_435a_', 'f2_s4d_435b_','f2_s4d_436a_', 'f2_s4d_436b_',
              'f2_s4d_438_', 'f2_s4d_439_','f2_s4e_441a_','f2_s4e_441b_', 'f2_s4e_442a_', 'f2_s4e_441c_', 'f2_s4e_443_',
              'f2_s4e_444_', 'f2_s4f_446_', 'f2_s4f_447_', 'f2_s4f_449dias_', 'f2_s4f_449semanas_','f2_s4i_484a_',
              'f2_s4f_450_', 'f2_s4f_451a_1','f2_s4f_451b_1', 'f2_s4f_451c_1', 'f2_s4f_451num_1', 'f2_s4f_451a1_1', 
              'f2_s4f_451a1dia_1', 'f2_s4f_451a1mes_1','f2_s4f_451a1anio_1', 'f2_s4f_451a2_1', 'f2_s4f_451a2dia_1',
              'f2_s4f_451a2mes_1', 'f2_s4f_451a2anio_1', 'f2_s4f_451a3_1','f2_s4f_451a3dia_1', 'f2_s4f_451a3mes_1', 
              'f2_s4f_451a3anio_1','f2_s4f_451a4_1', 'f2_s4f_451a4dia_1', 'f2_s4f_451a4mes_1','f2_s4f_451a4anio_1', 
              'f2_s4f_451a5_1', 'f2_s4f_451a5dia_1','f2_s4f_451a5mes_1', 'f2_s4f_451a5anio_1', 'f2_s4f_451a6_1',
              'f2_s4f_451a6dia_1', 'f2_s4f_451a6mes_1', 'f2_s4f_451a6anio_1', 'f2_s4f_451a7_1', 'f2_s4f_451a7dia_1', 
              'f2_s4f_451a7mes_1','f2_s4f_451a7anio_1', 'f2_s4f_451a8_1', 'f2_s4f_451a8dia_1','f2_s4f_451a8mes_1', 
              'f2_s4f_451a8anio_1', 'f2_s4f_451a9_1','f2_s4f_451a9dia_1', 'f2_s4f_451a9mes_1', 'f2_s4f_451a9anio_1',
              'f2_s4f_451a10_1', 'f2_s4f_451a10dia_1', 'f2_s4f_451a10mes_1', 'f2_s4f_451a10anio_1', 'f2_s4f_451a11_1', 
              'f2_s4f_451a11dia_1', 'f2_s4f_451a11mes_1', 'f2_s4f_451a11anio_1', 'f2_s4f_451a12_1', 'f2_s4f_451a12dia_1',
              'f2_s4f_451a12mes_1', 'f2_s4f_451a12anio_1','f2_s4f_451a13_1', 'f2_s4f_451a13dia_1', 'f2_s4f_451a13mes_1',
              'f2_s4f_451a13anio_1', 'f2_s4f_451a14_1', 'f2_s4f_451a14dia_1','f2_s4f_451a14mes_1', 'f2_s4f_451a14anio_1', 
              'f2_s4f_451a15_1', 'f2_s4f_451a15dia_1', 'f2_s4f_451a15mes_1', 'f2_s4f_451a15anio_1','f2_s4f_451a16_1', 
              'f2_s4f_451a16dia_1', 'f2_s4f_451a16mes_1','f2_s4f_451a16anio_1', 'f2_s4f_451a17_1', 'f2_s4f_451a17dia_1',
              'f2_s4f_451a17mes_1', 'f2_s4f_451a17anio_1', 'f2_s4f_451a18_1','f2_s4f_451a18dia_1', 'f2_s4f_451a18mes_1', 
              'f2_s4f_451a18anio_1','f2_s4f_451a19_1', 'f2_s4f_451a19dia_1', 'f2_s4f_451a19mes_1','f2_s4f_451a19anio_1', 
              'f2_s4f_451a20_1', 'f2_s4f_451a20dia_1','f2_s4f_451a20mes_1', 'f2_s4f_451a20anio_1', 'f2_s4f_451a21_1',
              'f2_s4f_451a21dia_1', 'f2_s4f_451a21mes_1', 'f2_s4f_451a21anio_1','f2_s4f_451a22_1', 'f2_s4f_451a22dia_1', 
              'f2_s4f_451a22mes_1','f2_s4f_451a22anio_1', 'f2_s4f_451a23_1', 'f2_s4f_451a23dia_1','f2_s4f_451a23mes_1', 
              'f2_s4f_451a23anio_1', 'f2_s4f_451a24_1','f2_s4f_451a24dia_1', 'f2_s4f_451a24mes_1', 'f2_s4f_451a24anio_1',
              'f2_s4f_452a_', 'f2_s4f_453g_', 'f2_s4f_454meses_', 'f2_s4f_454dias_','f2_s4f_455_', 'f2_s4g_457_', 
              'f2_s4g_458_','f2_s4g_459_', 'f2_s4g_460_','f2_s4g_461_', 'f2_s4g_462a_','f2_s4g_462b_', 'f2_s4g_462c_', 
              'f2_s4g_462d_','f2_s4g_462e_','f2_s4g_463_', 'f2_s4g_464a_', 'f2_s4g_464b_', 'f2_s4g_464c_','f2_s4g_464d_', 
              'f2_s4g_464e_', 'f2_s4g_464f_', 'f2_s4g_464g_','f2_s4g_464h_', 'f2_s4g_464i_', 'f2_s4g_464j_', 'f2_s4g_465_',
              'f2_s4g_466a_', 'f2_s4g_467_', 'f2_s4g_468a_', 'f2_s4g_469_','f2_s4g_470_', 'f2_s4g_471_', 'f2_s4g_472_', 
              'f2_s4h_476a_', 'f2_s4h_476b_','f2_s4h_476c_','f2_s4h_476d_', 'f2_s4h_476e_', 'f2_s4h_479a_', 'f2_s4h_480_',
              'f2_s4h_481a_', 'f2_s4i_484b_','f2_s4i_485_a_','f2_s4i_485_b_', 'f2_s4j_4871adia_','f2_s4j_4871ames_','f2_s4j_4871aanio_', 'f2_s4j_4871b1_', 
              'f2_s4j_4872adia_', 'f2_s4j_4872ames_','f2_s4j_4872aanio_', 'f2_s4j_4872b1_','f2_s4j_4873adia_', 'f2_s4j_4873ames_', 
              'f2_s4j_4873aanio_','f2_s4j_4873b1_', 'f2_s4j_4874adia_','f2_s4j_4874ames_', 'f2_s4j_4874aanio_', 'f2_s4j_4874b1_', 
              'f2_s4j_4875adia_', 'f2_s4j_4875ames_','f2_s4j_4875aanio_', 'f2_s4j_4875b1_','f2_s4j_4876adia_', 'f2_s4j_4876ames_',
              'f2_s4j_4876aanio_','f2_s4j_4876b1_', 'f2_s4j_4877adia_','f2_s4j_4877ames_','f2_s4j_4877aanio_', 'f2_s4j_4877b1_', 
              'f2_s4j_4878adia_', 'f2_s4j_4878ames_','f2_s4j_4878aanio_', 'f2_s4j_4878b1_', 'f2_s4j_4879adia_', 'f2_s4j_4879ames_', 
              'f2_s4j_4879aanio_','f2_s4j_4879b1_', 'f2_s4j_48710adia_','f2_s4j_48710ames_','f2_s4j_48710aanio_', 'f2_s4j_48710b1_',
              'f2_s4j_48711adia_', 'f2_s4j_48711ames_','f2_s4j_48711aanio_', 'f2_s4j_48711b1_','f2_s4j_48712adia_', 'f2_s4j_48712ames_',
              'f2_s4j_48712aanio_','f2_s4j_48712b1_','f2_s4j_48713adia_','f2_s4j_48713ames_', 'f2_s4j_48713aanio_', 'f2_s4j_48713b1_', 
              'f2_s4j_48714adia_','f2_s4j_48714ames_','f2_s4j_48714aanio_', 'f2_s4j_48714b1_', 'f2_s4j_48715adia_', 'f2_s4j_48715ames_', 
              'f2_s4j_48715aanio_','f2_s4j_48715b1_', 'f2_s4j_487a1a_', 'f2_s4j_487a2a_','f2_s4j_487a3a_', 'f2_s4j_487a4a_', 
              'f2_s4j_487a5a_','f2_s4j_487a6a_', 'f2_s4j_487a7a_', 'f2_s4j_487a8a_','f2_s4j_487a9a_', 'f2_s4j_487a10a_', 'f2_s4j_487a11a_',
              'f2_s4j_487a12a_', 'f2_s4j_487a13a_', 'f2_s4j_487a14a_','f2_s4j_487a15a_', 'fecha_anio', 'fecha_mes', 'fecha_dia',
              'region_mef'], axis=1)

In [ ]:
# Nombre de las columnas
df.columns.values

In [57]:
# Tipos de datos de las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_per            110 non-null    int64
 1   persona           110 non-null    int64
 2   sexo              110 non-null    object
 3   f2_s4b_406_       110 non-null    object
 4   f2_s4b_407a_      107 non-null    object
 5   f2_s4b_408_       107 non-null    object
 6   f2_s4b_419a_      107 non-null    object
 7   f2_s4b_419b_      107 non-null    object
 8   f2_s4b_419c_      107 non-null    object
 9   f2_s4b_419d_      107 non-null    object
 10  f2_s4b_419e_      107 non-null    object
 11  f2_s4b_419f_      107 non-null    object
 12  f2_s4b_419g_      107 non-null    object
 13  f2_s4b_420_       107 non-null    float64
 14  f2_s4b_421_       107 non-null    float64
 15  f2_s4c_424a_      110 non-null    object
 16  f2_s4c_425_       110 non-null    object
 17  f2_s4d_426_       110 non-null    object
 18  f2_s4d_428_       110 non-null    object
 19  f2_s4d_429_       110 non-null    object
 20  f2_s4d_437a_      54 non-null     object
 21  f2_s4d_437b_      33 non-null     float64
 22  f2_s4e_440_       110 non-null    object
 23  f2_s4f_445_       110 non-null    object
 24  f2_s4f_448_       110 non-null    object
 25  f2_s4f_449meses_  110 non-null    float64
 26  f2_s4f_453a_      110 non-null    object
 27  f2_s4f_453b_      110 non-null    object
 28  f2_s4f_453c_      110 non-null    object
 29  f2_s4f_453d_      110 non-null    object
 30  f2_s4f_453e_      110 non-null    object
 31  f2_s4f_453f_      110 non-null    object
 32  f2_s4f_454anios_  110 non-null    int64
 33  f2_s4f_456_       110 non-null    object
 34  f2_s4h_473_       107 non-null    object
 35  f2_s4h_474_       40 non-null     float64
 36  f2_s4h_475_       39 non-null     object
 37  f2_s4h_476f_      39 non-null     object
 38  f2_s4h_476g_      39 non-null     object
 39  f2_s4h_476h_      39 non-null     object
 40  f2_s4h_477a_      39 non-null     object
 41  f2_s4h_477b_      39 non-null     object
 42  f2_s4h_477c_      39 non-null     object
 43  f2_s4h_477d_      39 non-null     object
 44  f2_s4h_477e_      39 non-null     object
 45  f2_s4h_477f_      39 non-null     object
 46  f2_s4h_477g_      39 non-null     object
 47  f2_s4h_478_       40 non-null     object
 48  f2_s4i_482_       107 non-null    object
 49  f2_s4i_483_       107 non-null    object
 50  f2_s4i_485_       107 non-null    object
 51  f2_s4i_486_       107 non-null    object
 52  f2_s4j_4871a1_    81 non-null     object
 53  f2_s4j_4872a1_    81 non-null     object
 54  f2_s4j_4873a1_    81 non-null     object
 55  f2_s4j_4874a1_    81 non-null     object
 56  f2_s4j_4875a1_    81 non-null     object
 57  f2_s4j_4876a1_    81 non-null     object
 58  f2_s4j_4877a1_    81 non-null     object
 59  f2_s4j_4878a1_    81 non-null     object
 60  f2_s4j_4879a1_    81 non-null     object
 61  f2_s4j_48710a1_   81 non-null     object
 62  f2_s4j_48711a1_   81 non-null     object
 63  f2_s4j_48712a1_   81 non-null     object
 64  f2_s4j_48713a1_   81 non-null     object
 65  f2_s4j_48714a1_   81 non-null     object
 66  f2_s4j_48715a1_   81 non-null     object
 67  etnia_mef         110 non-null    object
 68  edadmeses         110 non-null    float64
 69  gedad_meses       110 non-null    object
 70  nivins_mef        110 non-null    object
 71  dcronica          95 non-null     float64
 72  fexp              110 non-null    float64
 73  estrato           110 non-null    int64
dtypes: float64(8), int64(4), object(62)
memory usage: 63.7+ KB

In [58]:
df.describe()

,id_per,persona,f2_s4b_420_,f2_s4b_421_,f2_s4d_437b_,f2_s4f_449meses_,f2_s4f_454anios_,f2_s4h_474_,edadmeses,dcronica,fexp,estrato
count,1.100000e+02,110.000000,107.000000,107.000000,33.000000,110.000000,110.000000,40.000000,110.000000,95.000000,110.000000,110.000000
mean,1.015001e+15,4.927273,6.308411,8.186916,1502.790303,0.390909,24.681818,5.525000,28.563636,0.263158,75.440228,2712.263636
std,7.674437e+08,7.057703,4.194361,3.210040,1618.273424,0.846964,31.831821,3.493492,17.676256,0.442683,48.899106,0.737928
min,1.015000e+15,2.000000,1.000000,1.000000,2.990000,0.000000,0.000000,0.000000,1.000000,0.000000,34.138481,2711.000000
25%,1.015000e+15,3.000000,4.000000,6.000000,7.000000,0.000000,1.000000,3.000000,13.000000,0.000000,42.146970,2712.000000
50%,1.015001e+15,4.000000,4.000000,8.000000,13.200000,0.000000,1.000000,4.000000,27.000000,0.000000,57.985153,2712.000000
75%,1.015002e+15,5.000000,8.000000,9.000000,3115.000000,1.000000,66.000000,7.000000,45.500000,1.000000,84.037193,2713.000000
max,1.015003e+15,77.000000,20.000000,18.000000,4245.000000,6.000000,77.000000,15.000000,59.000000,1.000000,286.491090,2713.000000

In [56]:
# # de filas y # de columnas
df.shape

(110, 74)

In [55]:
df.isna().sum().sort_values()

id_per               0
f2_s4f_445_          0
f2_s4f_448_          0
f2_s4f_449meses_     0
f2_s4f_453a_         0
                    ..
f2_s4h_476g_        71
f2_s4h_476f_        71
f2_s4h_477f_        71
f2_s4h_475_         71
f2_s4d_437b_        77
Length: 74, dtype: int64